
body{
   padding-top: 80px;

}

.navbar-main{
    background-image: none;
    min-height: 80px;     
}

 .navbar-main .navbar-header .navbar-brand{
    line-height: 50px;
    height: 100%;  
    font-family: 'French Script MT','Pinyon Script', cursive;
    font-size:40px; 
    font-weight: normal;
 }

.navbar-main .btn-menu{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1em;  
    font-weight: normal; 
    text-shadow: none;
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 80px;   
}

.navbar-main .navbar-nav a.btn-menu,
.navbar-main{
    background-color: #78554C;
}

.navbar-main .navbar-brand,
.navbar-main a.btn-menu{
    color: #FFFFFF;
}


.navbar-main .navbar-nav a.btn-menu:hover{
    background-color: #723E38;
    color: #010101 !important; 
}

.navbar-main button .icon-bar {
    background-color: #FFFFFF;
    height: 3px;
}

.navbar-main .navbar-toggle .collapsed,
.navbar-main .navbar-toggle {
    margin-top: 20px;
}

.navbar-main .social-header{
    background-color: #FFF;
}




/*------------------------------------------------------- Footer-------------------------------------------------------*/
footer {
    /*color: #666;
    background: #222;
    background:#3C444C;
    background-color: #723E38;
    background-color: #3E1111;*/
    background-color:   #723E38;
   
}
/*------------------------------------------------------- Social Media -------------------------------------------------------*/
#socialicons .icon{                                                  
    background: #868383;
    display: inline-block;
    color: white;
    font-size: 12px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    text-align: center;
    vertical-align: middle;
    margin: 3px 1px 3px;
    -webkit-border-radius: 50%; 
    -moz-border-radius: 50%; 
    border-radius: 50%; 
}

#socialicons .icon:hover{
    color: HOVER_COLOR;
    border: 1px solid #CFCFCF;
}
.separator{
    height: 30px;
    background-color: #78554C;
}



@font-face{
    font-family:'French Script MT';
    /*src:url("http://www.myfontfree.com/data/54/f/french-script-mt/FRSCRIPT.TTF");*/
    src:url("D:\Desktop\Documents\My Web Sites\web-casa-da-eduardinha\desenvolvimento\fonts\FRSCRIPT.TTF")
}

@media (max-width: 767px) {
    .navbar-main .btn-menu{
    line-height: 20px;
    padding-top: 10px;
    padding-bottom: 10px;}
}

/*------------------------------------------------------- Carousell -------------------------------------------------------*/
/* Makes images fully responsive */

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}


